* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body[data-theme = "light"] {
    --background-color: #F9FAF8;
    --navbar-color: #fff;
    --navbar-text-color: #E5E7EB;
    --text-color: #1a1a1a;
    --alt-text-color: #4756df;
    --primary-shadow: #8b8eaf;

}

body[data-theme = "dark"] {
    --background-color: #F9FAF8;
    --navbar-color: #1a1a1a;
    --navbar-text-color: #fff;
    --text-color: #fff;
    --alt-text-color: #fff;
    --primary-shadow: #8b8eaf;
}

body {
    margin: auto;
    display: block;
    /* width: 100%; */
    font-family: 'Roboto', sans-serif;
    user-select: none;
    max-width: 100%;
    background-color: #F9FAF8;
}



/* NAVBAR */
.navbar{
    /* width:100%; */
    position: sticky;
    top:0;
    left:0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937 linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    padding: 0.5rem 3.5rem;
    opacity: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-name {
    color: #4756df;
    font-size: 24px
}

.nav-logo {
    width: 5%;
    height: 5%
}

.link-group {
    list-style: none;
    display: flex;
}

.link a{
    color: var(--navbar-text-color);
    opacity: 60%;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 40px;
    transition: .5s;
    font-size: 20px;
}

.link.active, .link a:hover{
    opacity: 1;
    color: #fff;
}


/* HOME SECTION */
.home-section{
    margin: auto;
    height: 100vh;
    position: relative;
    opacity: 1;
    transition: 1s;
    margin-bottom: 50px;
    background: radial-gradient(#1F2937,#1F2937,#000);
    display: flex;
    justify-content: center;
    gap: 2%
}

.home-image {
    /* position: relative; */
    z-index: 2;
    border-radius: 25px;
    width: 40%;
    height: 40%;
    object-fit: fill;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-top: 15%;
    margin-right: 4%;

}


.heading-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.hero-heading {
    color: #E5E7EB;
    font-size: 4rem;
    position: relative;
    margin: 00% 0% 0% 10%;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5);
    z-index: 2;
}

.hero-sub-heading {
    position: relative;
    z-index: 2;
    font-weight: 100;
    margin-left: 10%;
    font-size: 1.5rem;
    color: #E5E7EB;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5);
}



/* ABOUT SECTION */

#about {
    padding-top: 50px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-cards {
    background: var(--background-color);
    width: 60%;
    display:flex;
    flex-wrap: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}

.about-image {
    border-radius: 25px;
}
.about-heading {
    font-size: 60px;
    font-weight: 600;
    font-family: inherit;
    text-transform: capitalize;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
}

.about-card {
    /* width: 60%; */
    padding: 10px 30px 10px 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5%;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);

}





/* GAMES SECTION */

.games-section {
    width: 100%;
    margin: auto;
    padding: 150px 20px 100px;
    position: static;
    transition: 1s;
    opacity: 1;
}

.games-heading{
    font-size: 72px;
    /* background: #252525; */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: var(--text-color);
    font-family: inherit;
    font-weight: 600;
}

.games-container{
    display: flex;
    background: var(--background-color);
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: -10px 0 0 0;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 25px;
}


.games-card {
    height: 400px;
    width: 45%;
    position: relative;
    margin: 10px
}


.games-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: 1s;
    border-radius: 25px;
}

.games-content {
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .5s;
    opacity: 0;
    z-index: 8;
}

.game-title {
    font-size: 3.125rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    z-index: 0;
}

.game-info {
    font-size: 20px;
    margin: 40px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    z-index: 9;
}

.games-btn-grp {
    display: flex;
    justify-content: center;
}

.play-btn {
    height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    background: rgb(80, 145, 27);
    color: #fff;
    cursor: pointer;
    padding: 0px 80px;
    border-radius: 20px;
}

.play-btn:active {
    background: none;
    border: 2px solid #fff;
}

.games-card:hover .games-img{
    filter: blur(20px);
}

.games-card:hover .games-content {
    opacity: 1;
}

.last-card:hover .games-img{
    filter: blur(20px);
}
.last-card:hover .games-content {
    opacity: 1;
}

.active {
    opacity: 1;
}


/* FAQ SECTION */

.FAQ-section{
    margin:auto;
    text-align: left;
    width: 800px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.FAQ-section h1{
    text-align: center;
    font-size: 3.125rem;
}

.accordian-section {
    width:800px;
    margin: 0 auto;
}

.accordian-section input[type=radio]{
    display: none;
}

.accordian-section label{
    display: block;
    height: 50px;
    line-height: 47px;
    padding: 0 10px 0 10px;
    background: var(--background-color);
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color);
    position: relative;
    cursor: pointer;
}

.accordian-section label::after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: transparent transparent transparent #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.accordian-section > .content {
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
}

.accordian-section >.content > .inner{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
    background: var(--background-color);
    padding: 0 0px 0 10px;
}

.accordian-section input[type=radio]:checked + label:after{
    transform: rotate(90deg)
}

.accordian-section input[type=radio]:checked + label + .content{
    max-height: 2000px;
    height: auto;
}


/* contact form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #E5E7EB;
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #C4C6CA;
}

.contact-form {
    border-radius: 10px;
    padding: 20px;
}




/* footer */
.footer {
    text-align: center;
    font-weight: 900;
    text-size-adjust: 2rem;
    background: radial-gradient(#1F2937,#1F2937,#000);
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer p{
    color: var(--navbar-text-color);
}

